
@{
    ViewData["Title"] = "Categories";
}
@model Architecture.ViewModels.Category.ListCategoryViewModel

<div class="row">
    <h2>Modifica categorie</h2>
</div>
<hr />
<div class="row">
    <a asp-controller="CategoryAdmin" asp-action="Create" class="btn btn-success">
        Aggiungi categoria
    </a>
</div>
<hr />
<div class="row">
    <table class="table table-striped table-bordered">
        <tr>
            <th></th>
            <th>Title</th>
            <th></th>
        </tr>
        @foreach(var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>
                    <a class="btn btn-xs btn-info" asp-controller="CategoryAdmin" asp-action="Update">Modifica</a>
                    <a class="btn btn-xs btn-primary">Visualizza</a>
                    <a class="btn btn-xs btn-danger">Cancella</a>
                </td>
            </tr>

        }
    </table>
</div>

