@model UpdateProductViewModel

<div class="row">
    <h2>Modifica prodotto</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form method="post" asp-controller="ProductAdmin" asp-action="Update">
            @Html.Partial("_EditProduct", Model)

            <div class="form-group">
                <input type="submit" value="Modifica" class="form-control btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model.RatingsList != null && Model.RatingsList.Any())
{
    <hr />
    @Html.Partial("_ListAdminRatings", Model.RatingsList)
}