
@{
    ViewData["Title"] = "Create";
}
@model Architecture.ViewModels.Category.CreateCategoryViewModel

<div class="row">
    <h2>Crea categoria</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form method="post" asp-controller="CategoryAdmin" asp-action="Create">
            @Html.Partial("_EditCategory", Model)
            <div class="form-group">
                <input type="submit" value="Aggiungi" class="form-control btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

