
@{
    ViewData["Title"] = "Update";
}
@model Architecture.ViewModels.Category.UpdateCategoryViewModel

<div class="row">
    <h2>Modifica categoria</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form method="post" asp-controller="CategoryAdmin" asp-action="Update">
            @Html.Partial("_EditCategory", Model)
            <div class="form-group">
                <input type="submit" value="Modifica" class="form-control btn btn-primary" />
            </div>
        </form>
    </div>
</div>